.search {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px 20px 20px 0px;
}